:root {
  font-family: sans-serif;
  --text-basic: #f4eddb;
  --bg-basis: #e7626c;
  --bg-active: #13b888;
}

html {
  height: 100%;
}

body {
  margin: unset;
  min-width: 320px;
  display: grid;
  place-content: center;
  min-height: 100%;
  background-color: var(--bg-basis);
}

.active {
  background-color: var(--bg-active);
}


.app {
  border-radius: 16px;
  padding: 20px;
}


.timer {
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: fit-content;
  font-size: 90px;
  line-height: 1.1;
  color: var(--text-basic);
  margin-bottom: 20px;
  user-select: none;
}

.controls {
  width: fit-content;
  margin-inline: auto;
}

.toggle {
  --size: 80px;
  border: unset;
  background-color: unset;
  width: var(--size);
  aspect-ratio: 1;
  border: 3px solid var(--text-basic);
  border-radius: calc(var(--size) / 2);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.toggle:focus {
  outline-offset: 5px;
}

.toggle::before {
  content: '';
  width: 29px;
  height: 34px;
  position: relative;
}

.start::before {
  background-image: url("../images/play.svg");
  right: -4px;
}

.pause::before {
  background-image: url("../images/pause.svg");
  right: -1px;
}
